arrow==0.17.0
attrs==20.3.0
beautifulsoup4==4.9.3
black==24.3.0
certifi==2020.12.5
chardet==4.0.0
click==8.1.7
fuzzywuzzy==0.18.0
idna==2.10
iniconfig==1.1.1
jsonschema==3.2.0
mypy-extensions==0.4.3
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==0.13.1
py==1.10.0
pyrsistent==0.17.3
pytest==6.2.2
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
soupsieve==2.2
sphobjinv==2.0.1
toml==0.10.2
urllib3==1.26.3
